---

import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Portfolio from '../components/Portfolio.astro';
import Lab from '../components/Lab.astro';

const handleTabChange = (e: any) => {
  const activeTab = e.target.dataset.tab;
  document.querySelector('main')!.dataset.activeTab = activeTab;
}
---

<Layout
  title="Krzysztof Król - Creative 🔥 Frontend Developer"
>
  <Header />
  <About />
	<main class="flex flex-col gap-16 mt-16 pb-24" data-active-tab="1">
    <Portfolio />
    <Lab />
	</main>
  <!-- <Footer /> -->
</Layout>