---

import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Header from '../components/Header.astro';
import Portfolio from '../components/Portfolio.astro';
import Lab from '../components/Lab.astro';

const handleTabChange = (e: any) => {
  const activeTab = e.target.dataset.tab;
  document.querySelector('main')!.dataset.activeTab = activeTab;
}
---

<Layout
  title="Krzysztof Król - Creative 🔥 Frontend Developer"
>
  <Header />
	<main class="flex flex-col gap-12 md:gap-16 md:mt-16 pb-24">
    <About />
    <Portfolio />
    <Lab />
	</main>
</Layout>