---
import Heading from "./partials/Heading.astro";
import ImageReveal from "./partials/ImageReveal.astro";
import PortfolioContent from "./PortfolioContent";
---

<section>
  <ImageReveal src="https://media.tenor.com/zYF1bPnvi6IAAAAC/that-still-only-counts-as-one-lotr.gif" direction="top">
    <Heading size={2} text="Websites Portfolio" />
  </ImageReveal>
  <div class="grid md:grid-cols-2 gap-x-12 gap-y-8">
    <PortfolioContent client:idle />
  </div>
</section>

<style is:global>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .gallery {
    transform: translateX(80%);
    opacity: 0;
    mouse-wheel: horizontal;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
  }
  .gallery > * {
    scroll-snap-align: start;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(1rem);
    }
  }

  @keyframes blur-in {
    0% {
      backdrop-filter: blur(0px);
    }
    100% {
      backdrop-filter: blur(8px);
    }
  }

  @keyframes blur-out {
    0% {
      backdrop-filter: blur(8px);
    }
    100% {
      backdrop-filter: blur(0px);
    }
  }

  @keyframes slide-left {
    0% {
      transform:  translateX(80%);
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  
  .animation-blur-in {
    animation: 300ms ease forwards blur-in;
  }
  .animation-fade-in {
    animation: 300ms ease forwards fade-in;
  }

  .animation-slide-left {
    animation: 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards slide-left;
  }

  .animation-fade-out {
    animation: 300ms ease forwards fade-out !important;
  }

  .animation-blur-out {
    animation: 300ms ease forwards blur-out !important;
  }

</style>